*{
    box-sizing: border-box;
    transition: background 100ms;
    outline: 0;
}
ul,li,ol{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
input,.task-item,button,.task-detail-mask,textarea,.task-detail {
    padding: 10px;
    border-radius:3px;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content: "";
    clear:both;
    height:0;}
.clearfix{*zoom:1;}
body{
    background-color:black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    /*background: linear-gradient(to right, rgba(0, 51, 75, 1), rgba(140, 201, 197, 0.1));*/
    color: #ffffff;
    /*height: 100vh;*/
    padding: 0 10px;
}

.container{
    max-width: 800px;
    min-width: 490px;
    position: relative;
    margin: 1em auto;
}
h1{
    text-align: center;
}
.task-list{
    margin: 3px 0;
}
textarea,button,input[type=text],input[type=date],.task-detail input{
    border: 0;
}

textarea,input[type=text],input[type=date],.task-detail input{
    display: block;
    width: 100%;
    background-color: #dddddd;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.3);
}

textarea{
    min-height: 100px;
    resize: none;
}
textarea:hover,textarea:focus,
input[type=text]:hover,input[type=date]:hover,
input[type=text]:focus,input[type=date]:focus,
.task-detail input:hover,.task-detail input:focus{
    background-color: #eeeeee;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.2);

}
button{
    display: inline-block;
    cursor: pointer;
    color: #333;
}
.add-task input[type=text],.task-detail input[type=text]{
    float: left;
    width: 84%;
    margin-right: 1%;
}
[type=submit]{
    background-color: #5fb9e4;
}
.add-task button[type=submit]{
    float: left;
    width: 15%;

}
.add-task button[type=submit]:hover{
    background-color: #46b1e4;
}
.add-task button[type=submit]{
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.task-item{
    background-color: #ffffff;
    color: #333;
    margin-bottom: 2px;
    cursor: pointer;

}

.task-item.completed{
    color: #aaaaaa;
    /*background-color: rgba(255,255,255,.7);*/
    opacity: 0.7;
}
.task-item.completed:after{
    content: '';
    display:block;
    height: 1px;
    width: 98%;
    background: #aaaaaa;
    margin-left: 2%;
    position: relative;
    top: -10px;
}
.task-item:hover{
    background-color: #dddddd;

}
.task-detail,.task-detail-mask {
    display: none;
    position: absolute;
}
.task-detail{
    position: absolute;
    top: 50px;
    background-color: #ffffff;
    color: #333;
    height: 260px;
    width: 50%;
    /*height: 100%;*/
    padding: 10px;
    bottom: 0;
    right: 0;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}
.task-detail .content{
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}
.task-detail .input-item{
    margin-bottom: 10px;
}
.task-detail-mask{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(30,30,30,.6);
}
.action{
    color: #888;
    font-size: 90%;
}
.action:hover{
    color: #666;
}
.msg{
    display: none;
    text-align: center;
    padding: 10px;
    color: #333;;
    background-color: yellow;
}
.anchor{
    cursor: pointer;
}
.alerter{
    opacity: 1;
    width: 0;
    height: 0;
}