*{
    /*background: rgba(0,0,0,.1);*/
    box-sizing: border-box;
    transition: background 100ms;
    outline: 0;
}
ul,li,ol{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
input,.task-item,button,.task-detail-mask,textarea{
    padding: 10px;
    border-radius:3px;
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}
body{
    background-color:#00334b;
    color: #ffffff;
    padding: 0 10px;
}

.container{
    max-width: 900px;
    position: relative;
    margin: 1em auto;
}
h1{
    text-align: center;
}
.task-list{
    margin: 3px 0;
}
textarea,button,input[type=text],input[type=date]{
    border: 0;
}

textarea,input[type=text],input[type=date]{
    display: block;
    width: 100%;
    background-color: #dddddd;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.3);
}
textarea{
    min-height: 100px;
    resize: none;
}
textarea:hover,textarea:focus,
input[type=text]:hover,input[type=date]:hover,
input[type=text]:focus,input[type=date]:focus{
    background-color: #eeeeee;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.2);

}
button{
    display: inline-block;
    cursor: pointer;
    color: #333;
}
.add-task input[type=text]{
    float: left;
    width: 84%;
    margin-right: 1%;
}
.add-task button[type=submit]{
    float: left;
    width: 15%;
    background-color: #5fb9e4;
}
.add-task button[type=submit]:hover{
    background-color: #46b1e4;
}
.add-task button[type=submit] .task-item{
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.task-item{
    background-color: #ffffff;
    color: #333;
    margin-bottom: 2px;
    cursor: pointer;

}
.task-item:hover{
    background-color: #dddddd;

}
.task-detail,.task-detail-mask {
    display: none;
    position: absolute;
}
.task-detail{
    background-color: #ffffff;
    color: #333;
    width: 50%;
    height: 100%;
    padding: 10px;
    bottom: 0;
    right: 0;
}
.task-detail .content{
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}
.task-detail > *{
    margin-bottom: 10px;
}
.task-detail-mask{
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(30,30,30,.6);
}
.action{
    color: #888;
    font-size: 90%;
}
.action:hover{
    color: #666;
}